/* Please Make only Rhino and Zebra Blue */
.rhino {
    color: blue;
}

.zebra {
    color: blue;
}
/* Please Make only Hufflepuff Gold */
.badger {
    color: blue;
}
/* Please select Duck with the highest level of specificity possible */
html body #hi + section + #rhino + #zebra + .middle + article + #uni + #bestHouse + .areDucksDinosaurs + .likesToQuack {
    color: purple;
}
/* Please select Rhino with the highest level of specificity possible */
